<div class="table-responsive">
  <table class="table bg-light">
    <thead>
      <tr [ngClass]="{'bg-danger': type === 'expense', 'bg-success': type === 'income'}">
        <th scope="col">Concepto</th>
        <th scope="col">Monto</th>
        <th scope="col">Fecha</th>
        <th scope="col">Tipo</th>
        <th scope="col">Botones</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of budget">
      <tr *ngIf="selected._id !== item._id">
        <td> {{item.concept}} </td>
        <td> ${{item.amount}} </td>
        <td> {{item.date}} </td>
        <td> {{item.type}} </td>
        <td>
          <button class="btn btn-primary" (click)="updateSelected(item, item._id)" ><i class="bi bi-pencil"></i>  Modificar</button>
          <button class="btn btn-danger"  (click)="deleteOperation(item._id)"><i class="bi bi-x-circle-fill"></i>  Eliminar</button>
        </td>
      </tr>
      <tr *ngIf="selected._id === item._id" [formGroup]="form">
        <td>
          <input type="text"
           class="form-control"
           formControlName="concept"
            placeholder="Concepto" required>
        </td>
        <td>
          <input type="number"
           class="form-control"
           formControlName="amount"
            placeholder="Monto" required>
        </td>
        <td>
          <input type="date"
           class="form-control"
            min="2020-01-01"
            formControlName="date"
            max="2100-01-01" required>
        </td>
        <td> {{item.type}} </td>
        <td>
          <button class="btn btn-success" type="submit" (click)="saveForm()"><i class="bi bi-check-circle">  Guardar</i></button>
          <button class="btn btn-danger" type="button" (click)="stopUpdate()" ><i class="bi bi-x-circle-fill">  Salir</i></button>
        </td>
      </tr>

    </tbody>
  </table>
</div>
