<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="">Dashboard</a>
  <button class="navbar-toggler p-0 border-0" (click)="openNavbar()" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse offcanvas-collapse" [ngClass]="{'open' : main.open}">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngFor="let item of menu">
        <a class="nav-link" routerLinkActive="active" [routerLink]="'/pages/' + item.route" (click)="main.open = false">
          <i [class]="item.icon"></i>
          {{item.name}}
        </a>
      </li>
    </ul>
    <a class="float-right btn btn-outline-primary" (click)="this.userservice.logout()" routerLink="/auth/login">Salir</a>
  </div>
</nav>
