<div class="container-fluid">
  <div class="row">
    <div class="col" *ngFor="let item of operations">
      <div class="card box-shadow" (click)="navigate(item.route)" >
        <div class="card-body">
          <div class="row">
            <div class="col">
              <i [class]="item.icon"></i>  {{item.title}}
            </div>
            <div class="col">
              <p class="card-text"> {{item.text}} </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
