@import "~bootstrap-icons/font/bootstrap-icons.css";
.card-title{
  margin-top: 3vh;
}
.bg-light {
  padding: 15px 15px 0 15px;
}
.card {
  cursor: pointer;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.card-body {
  padding: 0;
}
.card {
  padding: 0;
}
.col {
  max-width: 33vw;
}
