<div class="container-fluid text-center">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
              <h1 class="card-title"><i class="bi bi-cash-stack text-success"></i> Balance actual </h1>
              <p class="card-text" [ngClass]="colorBalance">   $ {{ balance | number }} </p>
              <div class="row">
                <div class="col">
                  Ingresos
                  <p class="text-success">
                    <i class="bi bi-arrow-up-circle-fill"></i>$ {{income | number}}
                  </p>
                </div>
                <div class="col">
                  Egresos
                  <p class="text-danger">
                    <i class="bi bi-arrow-down-circle-fill"></i> $ {{expense | number}}
                  </p>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>
  <div class="box-shadow bg-light table-responsive">
    <h3 class="text-primary text-left">Ultimas transacciones</h3>
    <table class="table bg-light">
      <thead>
        <tr >
          <th scope="col" class="text-left">Concepto</th>
          <th scope="col">Monto</th>
          <th scope="col">Fecha</th>
          <th scope="col">Tipo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of budget">
          <td class="text-left"> {{item.concept}} </td>

          <td>  $ {{item.amount | number}}  </td>
          <td> {{item.date | date: 'd/M/yy'}} </td>
          <td *ngIf="item.type === 'income'"  [ngClass]="{'bg-success': item.type === 'income'}"> Ingreso </td>
          <td *ngIf="item.type === 'expense'"  [ngClass]="{'bg-danger': item.type === 'expense'}"> Egreso </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
